<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <title>KAI 중장기 전략 행사</title>
</head>
<body style="background-image: url('static/img/kai_edm_bg.png'); width:100%;" >
    <div class="absolute top-1/2 bottom-1/2 flex flex-col items-center justify-center rounded-lg mt-1/2 ml-1/2" >
        <video width="70%" controls class="rounded-lg">
            <source src="static/IMG_7345.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
            Your browser does not support the video tag.
            <embed type="application/x-vlc-plugin" pluginspage="http://www.videolan.org" autoplay="yes" loop="no" width="300" height="200" target="mms://127.0.0.1:554/video" />
          </video>
   
</div>
</body>
</html>